h1 {
    display: inline;
    color: red;
}

.orange_text {
    display: inline;
    color: orange;
}

#yellow_text {
    display: inline;
    color: yellow;
}

.green_background {
    text-align: center;
    background-color: green;
    color: white;
    margin-bottom: 50px;
}

a:link{
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:visited {
    color: blue;
}

a:active {
    background-color: green;
    color: orange;
}


.box1 {
    display: inline-block;
    padding: 20px 50px 20px 20px;
    border-style: dashed;
    border-color: purple;
    border-width: 10px;
}

.circle {
    margin: 10px 0px;
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;
}

.box2 {
    text-align: center;
    border: 10px solid black;
    padding: 40px;
    margin: 10px 50px;

}

.shadow_right_bottom {
    text-align: center;
    text-shadow: 5px 5px 5px ;
    }

